@import url("../css/reset.css");
body {
  font-family: "Roboto", sans-serif;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.container {
  max-width: 1023px;
  margin: 0 auto;
}
.header__logo_white {
  padding-right: 10px;
}
.header__logo_orange {
  display: none;
}
.header__logo:hover .milan__text {
  color: #f26522;
  transition: 0.3s linear;
}
.header__logo:hover .holiday__text {
  color: #f26522;
  transition: 0.3s linear;
}
.header__logo:hover .header__logo_orange {
  display: block;
  padding-right: 10px;
  transition: 0.3s linear;
}
.header__logo:hover .header__logo_white {
  display: none;
  transition: 0.3s linear;
}

.header__logo_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}
.milan__text {
  font-style: Bold;
  font-size: 29px;
  line-height: 1;
  color: #ffffff;
  padding-bottom: 6px;
}
.holiday__text {
  font-style: Bold;
  font-size: 18px;
  line-height: 1;
  color: #ffffff;
}
.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 51px;
}

.header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__contacts_email {
  padding-bottom: 19px;
}
.header__contacts_email:hover {
  color: #f26522;
  transition: 0.3s linear;
}
.header__contacts_tel {
  align-self: flex-end;
}
.header__contacts_tel:hover {
  color: #f26522;
  transition: 0.3s linear;
}

.header__contacts {
  font-size: 18px;
  line-height: 1;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 46px;
}
.content__text {
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  color: #ffffff;
}

.section__content_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section__content_item:hover .content__item_details {
  opacity: 1;
  transition: 0.6s linear;
}
.section__content_item:hover .content__text {
  color: #f26522;
  transition: 0.3s linear;
}

.section__content_body {
  height: 560px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr 1fr;
  gap: 37px 63px;
  margin-bottom: 49px;
}
.section__content_photo {
  width: 300px;
  height: 220px;
  margin-bottom: 20px;
}
.footer_copyright {
  font-style: normal;
  font-size: 12px;
  line-height: 1;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.content__item_details {
  width: 298px;
  height: 55px;
  background-color: #f26522;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: calc(16%);
  opacity: 0;
}
.price__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view__details_element {
  font-style: normal;
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  align-self: end;
  padding-bottom: 12px;
  padding-right: 37px;
}
.price__details_element1 {
  font-style: normal;
  font-size: 10px;
  line-height: 1;
  color: #ffffff;
  padding: 7px 16px 8px;
}
.price__details_element2 {
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
  padding-left: 16px;
  padding-bottom: 12px;
}

.view__details_element::after {
  content: "";
  background: url(../images/Arrowright.svg) center center/cover no-repeat;
  height: 10px;
  width: 5px;
  position: absolute;
  right: 16px;
  bottom: 14px;
}
